@model ProjetoBackend.Models.Fornecedor

@{
    ViewData["Title"] = "Edit";
}

<div class="container">

    <p class="titulo-criar fw-bold">Clientes</p>

    <hr class="border border-dark border-1">

    <h4 class="cadastro">Cadastro de Cliente</h4>

    <div class="row crow">
        <div class="col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="text-box-container form-group mb-2">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="text-box-input form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="row crow">
                    <div class="col-12 col-md-6 text-box-container mb-2">
                        <label asp-for="CnpjCpf" class="control-label"></label>
                        <input asp-for="CnpjCpf" class="text-box-input form-control" />
                        <span asp-validation-for="CnpjCpf" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-md-6 text-box-container">
                        <label asp-for="Celular" class="control-label"></label>
                        <input asp-for="Celular" class="text-box-input form-control" />
                        <span asp-validation-for="Celular" class="text-danger"></span>
                    </div>
                </div>

                    <div class="row crow">
                        <div class="col col-md-6 mt-4 form-group">
                            <input type="submit" value="Editar" class="botao-criar fw-semibold" />
                        </div>

                        <div class="col col-md-6 mt-4 d-flex justify-content-end">
                            <a class="botao-cancelar m-0 p-0 fw-semibold" asp-action="Index">Cancelar</a>
                        </div>
                    </div>

            </form>

                </div>

        </div>
    </div>


    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

    <link rel="stylesheet" href="~/css/site.css" />


</div>
