                @model ProjetoBackend.Models.Compra

@{
    ViewData["Title"] = "Edit";
}

<div class="container">

    <p class="titulo-criar fw-bold">Compras</p>

    <hr class="border border-dark border-1">

    <h4 class="cadastro">Cadastro de Compra</h4>

    <div class="row crow">
        <div class="col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="text-box-container form-group mb-2">
                    <input asp-for="FornecedorId" class="text-box-input form-control" placeholder="Fornecedor" />
                    <span asp-validation-for="FornecedorId" class="text-danger"></span>
                </div>

                <div class="row crow">
                    <div class="col-12 col-md-6 text-box-container mb-2">
                        <input type="" asp-for="DataCompra" class="text-box-input form-control" placeholder="Cpf" />
                        <span asp-validation-for="DataCompra" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-md-6 text-box-container">
                        <input asp-for="ValorTotal" class="text-box-input form-control" oninput="formatarTelefone(this)" id="telefone" placeholder="Valor Total" />
                        <span asp-validation-for="ValorTotal" class="text-danger"></span>
                    </div>
                </div>
                <div class="row crow">
                    <div class="col col-md-6 mt-4 form-group">
                        <input type="submit" value="Editar" class="botao-criar fw-semibold" />
                    </div>

                    <div class="col col-md-6 mt-4 d-flex justify-content-end">
                        <a class="botao-cancelar m-0 p-0 fw-semibold" asp-action="Index">Cancelar</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<link rel="stylesheet" href="~/css/site.css" />