@model ProjetoBackend.Models.Cliente

@{
    ViewData["Title"] = "Criar";
}
<div class="container">

    <p class="titulo-criar"><strong>Clientes</strong></p>

    <hr class="border border-dark border-1">

    <h4 class="cadastro">Cadastro de Cliente</h4>

    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="text-box-container form-group mb-2">
                    <input asp-for="Nome" class="text-box-input form-control" placeholder="Nome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-md-6 text-box-container mb-2">
                        <input type="" asp-for="CnpjCpf" class="text-box-input form-control" placeholder="Cpf" />
                        <span asp-validation-for="CnpjCpf" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 text-box-container">
                        <input asp-for="Celular" class="text-box-input form-control" oninput="formatarTelefone(this)" id="telefone" placeholder="Celular" />
                        <span asp-validation-for="Celular" class="text-danger"></span>
                    </div>
                </div>

                <div class="text-box-container form-group mb-2">
                    <input type="date" asp-for="DataNascimento" class="text-box-input form-control" />
                    <span asp-validation-for="DataNascimento" class="text-danger"></span>
                </div>
                <div class="text-box-container form-group mb-2">
                    <input asp-for="Email" class="text-box-input form-control" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">


                    <input type="hidden" asp-for="DataCadastro" class="form-control" />

                </div>
                <div class="form-group">

                    <input type="hidden" asp-for="CadastroAtivo" class="form-control" />

                    <div class="row">
                        <div class="col col-md-6 mt-4 form-group">
                            <input type="submit" value="Criar" class="btn botao-criar fw-semibold" />
                        </div>

                        <div class="col col-md-6 mt-4 d-flex justify-content-end">
                            <a class="botao-cancelar m-0 p-0 fw-semibold" asp-action="Index">Cancelar</a>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>


    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

    <link rel="stylesheet" href="~/css/site.css" />


</div>
