@model ProjetoBackend.Models.Venda




@{
    ViewData["Title"] = "Criar";
}
<div class="container">

    <p class="titulo-criar fw-bold">Vendas</p>

    <hr class="border border-dark border-1">

    <h4 class="cadastro">Cadastro de Vendas</h4>

    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="text-box-container form-group mb-2">
                    <select asp-for="ClienteId" class="text-box-input form-control" asp-items="ViewBag.ClienteId"></select>
                    <span asp-validation-for="ClienteId" class="text-danger"></span>
                </div>
                <div class="form-group">


                    <input type="hidden" asp-for="NotaFiscal" class="form-control" />

                </div>
                <div class="text-box-container form-group mb-2">
                    <input asp-for="ValorTotal" readonly="readonly" value="0.00" class="text-box-input form-control" />
                    <span asp-validation-for="ValorTotal" class="text-danger"></span>

                </div>
                <div class="form-group">


                    <input type="hidden" asp-for="DataVenda" class="form-control" />

                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col col-md-6 mt-4 form-group">

                            <input type="submit" value="Criar" class="botao-criar fw-semibold" />
                        </div>

                        <div class="col col-md-6 mt-4 d-flex justify-content-end">
                            <a class="botao-cancelar m-0 p-0 fw-semibold" asp-action="Index">Cancelar</a>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>


    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

    <link rel="stylesheet" href="~/css/site.css" />


</div>