@model ProjetoBackend.Models.Venda


@{
    ViewData["Title"] = "Editar";
}

<div class="container">

    <p class="titulo-criar fw-bold">Vendas</p>

    <hr class="border border-dark border-1">

    <h4 class="cadastro">Editar Vendas</h4>

    <div class="row crow">
        <div class="col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ClienteId" />
                <div class="text-box-container form-group mb-2">
                    <label asp-for="NotaFiscal" class="control-label"></label>
                    <input asp-for="NotaFiscal" class="text-box-input form-control" />
                    <span asp-validation-for="NotaFiscal" class="text-danger"></span>
                </div>

                <div class="row crow">
                    <div class="col-12 col-md-6 text-box-container mb-2">
                        <label asp-for="ClienteId" class="control-label"></label>
                        <select asp-for="ClienteId" class="text-box-select form-control" asp-items="ViewBag.ClienteId"></select>
                        <span asp-validation-for="ClienteId" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-md-6 text-box-container">
                        <label asp-for="DataVenda" class="control-label"></label>
                        <input asp-for="DataVenda" class="text-box-input form-control" />
                        <span asp-validation-for="DataVenda" class="text-danger"></span>
                    </div>
                </div>

                <div class="text-box-container form-group mb-2">
                    <label asp-for="ValorTotal" class="control-label"></label>
                    <input asp-for="ValorTotal" class="text-box-input form-control" />
                    <span asp-validation-for="ValorTotal" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="row crow">
                        <div class="col col-md-6 mt-4 form-group">
                            <input type="submit" value="Editar" class="botao-criar fw-semibold" />
                        </div>

                        <div class="col col-md-6 mt-4 d-flex justify-content-end">
                            <a class="botao-cancelar m-0 p-0 fw-semibold" asp-action="Index">Cancelar</a>
                        </div>
                    </div>


                </div>

            </form>
        </div>
    </div>


    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

    <link rel="stylesheet" href="~/css/site.css" />


</div>
